{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Forum</h1>


 {{ past_posts }}


{% if logged_in %}
<button id="postbutton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Post</button>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please type your post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/posted">
        <div class="form-group">
            <label for="post">Post:</label>
            <input type="text" class="form-control" placeholder="Enter text" id="post">
        </div>
            <button type="submit" class="btn btn-primary" method="post">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endif %}
{% endblock %}
