{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Forum</h1>


 
  <title>{% block title %}{% endblock %}</title>


  </head>
  <body>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="/">
          <img src="../static/images/navbar-logo.png" alt="Bugatti Bollide" style="width:50px;">
      </a>
      <form class="form-inline d-flex justify-content-center" id="searchbar" action="/">
      <input id="searchbarinput" class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right d-flex justify-content-right">
      <li class="nav-item">
          <a class="nav-link" href="/test">Test</a>
      </li>
 	     {% if logged_in %}
         <li class="nav-item"><p class="navbar-text">{{ session['user_data']['login']}}</li>
 	     {% endif %}
         <li class="nav-item">
 	  {% if logged_in %}
 	  <a class="nav-link" href="/logout">Logout</a>
 	  {% else %}
 	  <a class="nav-link" href="/login">Login</a>
 	  {% endif %}
        </li>
     </ul>
    </nav>

  {% block content %}{% endblock %}




  </body>
</html>
